body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

.movieHeader {
  position: absolute;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
  
}

.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.line {
  background-color: white;
  position: absolute;
  height: 100vh;
  width: 2px;
  margin-left: 50%;
}

.vsCircle {
  position: absolute;
  color: white;
  z-index: 50;
  background-color: #0a0b0d;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the circle by translating it */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex; /* Add flexbox to center the content inside the circle */
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
}

.vsText {
  color: #1985ff;
  font-size: 2rem;
}

.curScore {
  position:absolute;
  bottom: 30px;
  right: 50px;
}

.highScore {
  position:absolute;
  bottom: 30px;
  left: 50px;
}

.rotateLeft {
  animation:  3s linear 0s 1 alternate moveLeft;
}

.playAgain {
  position:absolute;
  z-index: 50;
  left: 50%;
  top:50%;
  margin-left: -50px;
  margin-top: -50px;
  text-align: center;
}



.playAgainButton {
  background-color: #0a0b0d;
  color: #1985ff;
  border: #1985ff solid 1px;
}

.playAgainButton:hover {
  background-color: #1985ff;
  color: white;
}